* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* box-sizing: content-box vs border-box
    content-box --> gives you default CSS box-sizing behavior --> the box is the size of the content
    border-box --> the box size includes the border and the padding (x margin)
    */

}

body {
    background: #222; 
    /* CSS 3 Digit Hex Colors 
    some six-digit hex colors can be written using a three-digit shorthand RRGGBB > RGB
    here, #222 is equal to #222222 */
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff; /*determines the color of the text inside the card*/
    margin: 50px auto 0px;  
    /*margin shorthand property
    4 values -> top right bottom left (clockwise)
    3 values -> top right&left bottom
    2 values -> top&bottom right&left
    1 value -> all four margins
    In this case it is 3 values --> 100px at top, left/right is auto, 0px for bottom
    */
    border-radius: 20px; /*makes the corners round */
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between; /*defines how the browser distributes space between and around content items along the
    main axis of a flex container*/
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.col {
    display: flex; /*so that the icons will appear next to the text*/
    /*the separate <p> tags will make the value and the description show up on different lines by default */
    align-items: center;
    text-align: left;
}

.col img {
    width:40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display:none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}