div {
    background-color: navy;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    box-shadow: 1px 10px 10px 10px rgba(0,0,0,0.2);
    border: 5px solid green;
}